#chatbot-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    padding: 2%;
}

#chatbot-container.open {
    display: block;
}

.chatbot-header {
    background-color: #6d0b0b;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-messages {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.chatbot-input {
    display: flex;
    padding: 10px;
    background-color: #eee;
}

.chatbot-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbot-input button {
    background-color: #6d0b0b;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #6d0b0b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#question-suggestions {
    display: flex;
    flex-direction: column;
    padding: 10px 0; /* Ajusta el relleno superior e inferior */
}

#question-suggestions div {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px; /* Espaciado interno para que las preguntas no se vean juntas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#question-suggestions div:hover {
    background-color: #bc9090; /* Cambio de color al pasar el cursor */
}
